.video-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 90%;
  height: 33.33%;
  padding: 0 5%;
  border-radius: 10px;
  .title {
    width: 70%;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 140%;
    color: #ffffff;
  }

  .info {
    display: flex;
    justify-content: space-between;
    .wc {
      display: flex;
      width: 28.8%;
      justify-content: space-between;
    }
    span {
      font-size: 1.2rem;
      line-height: 15px;
      color: #ffffff;
    }
  }
}

.video-card:hover {
  background: #121920;
}

.selected {
  background-color: black;
}

@media (max-width: 1024px) {
  .video-card {
    .title {
      width: 85%;
    }

    .info {
      .wc {
        width: 40%;
      }
    }
  }
}
@media (max-width: 768px) {
  .video-card {
    height: 95px !important;
    .title {
      width: 85%;
    }

    .info {
      .wc {
        width: 40%;
      }
    }
  }
}
