.sign-in {
  width: 100%;
  min-height: 100vh;
  background-image: url("./signin.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .Navigation {
    margin-bottom: 70px;
    z-index: 101;

    .mobile-nav {
      .ico2-nav-community {
        display: none;
      }
      .ico2-nav-discover {
        display: none;
      }
      .ico2-nav-news {
        display: none;
      }
      .ico2-nav-history {
        display: none;
      }
      .ico2-nav-home {
        display: none;
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 576px;
    height: 705px;
    background: white;
    border-radius: 15px;
    color: #999999;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 50px;

    .title {
      color: white;
      font-weight: bold;
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 5px;
    }
    .description {
      color: white;
      font-size: 20px;
      line-height: 140.02%;
      margin-bottom: 44px;
    }

    #submit {
      width: 407px;
      height: 58px;
      border-radius: 46px;
      background: white;
      margin-top: 49px;
      margin-bottom: 25px;

      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      mix-blend-mode: normal;
      background: transparent;
      color: rgba(255, 255, 255, 0.5);
    }

    .continue {
      color: white;
      font-size: 18px;
      line-height: 22px;
      opacity: 0.8;
      margin-bottom: 25px;
    }

    .other-login {
      width: 415px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      button {
        width: 130px;
        height: 40px;
        border-radius: 35px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: rgba(153, 153, 153, 0.8);
        img {
          margin-right: 7px;
        }
      }
    }
    .to-sign-up {
      color: white;
      display: flex;
      align-items: center;
      margin-right: 10px;
      font-size: 18px;
      line-height: 22px;

      .txt {
        color: orange;
        text-decoration: underline;
      }
    }
  }

  .right {
    width: 500px;
    color: #f1f1f2;
  }

  @media (max-width: 767px) {
    .right {
      flex-shrink: 0;
      max-height: 350px;
    }
  }
  svg {
    position: absolute;
    width: 510px;

    path {
      position: relative;
      fill: none;
      stroke: url(#linearGradient);
      stroke-width: 4;
      transition-duration: 0.8s;
    }
  }

  .form {
    position: relative;
    z-index: 100;
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;

    label {
      width: 410px;
      height: 16px;
      padding-left: 5px;
      color: white;
      display: block;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }
    input {
      width: 410px;
      height: 30px;
      padding-left: 5px;
      padding: 10px 0;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      color: #393939;
      background: transparent;
      border: 0;
      outline: none !important;
    }

    .password {
      border-bottom: 3px solid rgba(255, 255, 255, 0.3);
    }

    .email {
      margin-bottom: 31px;
      border-bottom: 3px solid rgba(255, 255, 255, 0.3);
    }
  }

  input::-moz-focus-inner {
    border: 0;
  }
  #submit {
    color: #707075;
    margin-top: 40px;
    transition: color 300ms;
  }
}

@media (max-width: 724px) {
  .sign-in {
    svg {
      display: none;
    }
    .content {
      width: 320px !important;
      height: 420px !important;
      .title {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
      }

      .description {
        font-size: 14px;
        line-height: 140.02%;
        margin-bottom: 30px !important;
      }

      .right {
        width: 240px !important;
        height: 144.5px !important;

        .form {
          label {
            width: 100%;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
          }

          input {
            padding: 0;
            width: 100%;
          }
        }
      }

      .continue {
        font-size: 12px;
        line-height: 15px;
        border-bottom: none;
      }

      .other-login {
        width: 170px;
        margin-top: 50px !important;
        margin-bottom: 10px !important;
        .other {
          width: 34px;
          height: 34px;
          border-radius: 50%;
          padding: 0;
          span {
            display: none;
          }
          img {
            margin: 0;
          }
        }
      }

      #submit {
        width: 240px;
        height: 35px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        padding: 0;
        margin-bottom: 10px !important;
      }
    }

    .to-sign-up {
      font-size: 12px !important;
      line-height: 15px;
    }
  }
}
