.popular-post {
  width: 100%;
  height: 16.3%;
  display: flex;
  padding: 6% 0;

  .left-img {
    width: 80px;
    height: 80px;
    margin-right: 31px;
  }

  .conf {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .title {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 145%;
      text-align: left;
    }

    .about {
      display: flex;
      font-size: 1.2rem;
      line-height: 15px;
      color: #999999;

      img {
        margin-right: 4px;
      }
      .bar {
        margin: 0 9px;
      }
    }
  }
}

.popular-01,
.popular-02,
.popular-03 {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

@media (max-width: 1200px) {
  .popular-post {
    .left-img {
      width: 64px;
      height: 64px;
      margin-right: 25px;
    }
  }
}
@media (max-width: 1024px) {
  .popular-post {
    height: 15% !important;
    .left-img {
      width: 48px;
      height: 48px;
      margin-right: 15px;
    }
  }
}

@media (max-width: 768px) {
  .popular-post {
    width: 80% !important;
    .left-img {
      width: 60px !important;
      height: 60px !important;
      margin-right: 15px;
    }

    .conf {
      .title {
        font-weight: 600;
        font-size: 13px;
        line-height: 140%;
      }
    }
  }
}
