.tip {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tip-img {
    position: absolute;
    top: 0;
  }

  .cover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #19222c 0%,
      #000000 0.01%,
      rgba(0, 0, 0, 0) 48.96%
    );
    border-radius: 10px;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .txt-01 {
    z-index: 2;
    font-weight: 600;
    font-size: 3rem;
    line-height: 36px;
  }

  .txt-02,
  .txt-03,
  .txt-04 {
    z-index: 2;
    font-weight: 600;
    font-size: 2rem;
    line-height: 128%;
    width: 80%;
    margin-bottom: 12px;
    position: absolute;
    bottom: 23%;
  }

  .txt-01 {
    width: 80%;
    margin-bottom: 12px;
    position: absolute;
    bottom: 12%;
  }

  .txt {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5);
  }

  .txt-03,
  .txt-04 {
    width: 60%;
    padding-right: 17%;
  }

  .profile {
    width: 80%;
    z-index: 2;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10%;

    .dot {
      margin: 0 5px;
    }
    .person {
      margin-right: 5px;
    }
  }

  .profile-01 {
    bottom: 4.5%;
  }

  .txt-01,
  .profile-01,
  .txt-02,
  .profile-02 {
    width: 90%;
  }
}

.tip-01 {
  width: 100%;
  height: 100%;

  .tip-img {
    width: 100%;
    height: 100%;
  }
}

.tip-02 {
  width: 100%;
  height: 100%;

  .tip-img {
    width: 100%;
    height: 100%;
  }
}

.tip-03,
.tip-04 {
  width: 48%;
  height: 100%;

  .tip-img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .tip {
    .txt-01 {
      font-size: 2.5rem;
    }
    .txt-03,
    .txt-04 {
      width: 80% !important;
      padding: 0 !important;
    }
    .profile {
      .person {
        width: 22px;
        height: 22px;
      }
      .txt {
        font-size: 1.4rem;
      }
    }
  }
}
