.news {
  width: 100vw;
  min-height: calc(100vw * 2700 / 1920);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #f2f2f2;
  color: #393939;

  .Navigation {
    width: 77%;
    padding: 0 11.5%;
    height: 143px;
    align-items: center;
    margin-top: 0px;
    z-index: 4;
    color: black !important;
    background: white;
    .navList {
      .nav-news {
        font-weight: 700;
        text-decoration: overline;
      }
    }

    .mobile-nav {
      .nav-news {
        color: #ffb800;
      }
      .ico2-nav-community {
        display: none;
      }
      .ico2-nav-discover {
        display: none;
      }
      .ico-nav-news {
        display: none;
      }
      .ico2-nav-history {
        display: none;
      }
      .ico2-nav-home {
        display: none;
      }
    }
  }

  a {
    color: #3e3e3e;
  }

  .content {
    width: 1200px;
    margin-top: 100px;
  }

  .content-01 {
    position: relative;
    height: 555px;
    display: flex;
    border-radius: 15px;
    background-color: white;

    .cover {
      display: none;
    }
    .left {
      width: 34%;
      display: flex;
      justify-content: center;
      align-items: center;

      .txt-box {
        display: flex;
        flex-direction: column;
        width: 76.5%;
        height: 52.6%;

        .txt-01 {
          font-weight: 500;
          font-size: 1.8rem;
          line-height: 22px;
          color: #ffb800;
          margin-bottom: 8px;
        }
        .txt-02 {
          font-weight: bold;
          font-size: 3.4rem;
          line-height: 135%;
          margin-bottom: 31px;
        }
        .txt-03 {
          font-size: 1.4rem;
          line-height: 160%;
          color: rgba(57, 57, 57, 0.5);
          margin-bottom: 12px;
        }
        .txt-04 {
          font-size: 1.2rem;
          line-height: 120%;
          color: rgba(57, 57, 57, 0.5);
        }

        .post-info {
          width: 100%;
          height: 17px;
          display: flex;
          align-items: center;

          .clock {
            width: 13px;
            height: 13px;
            margin-right: 5px;
            background-image: url(../../images/icons/clock.png);
          }
          .watch {
            width: 15px;
            height: 13px;
            margin-right: 5px;
            background-image: url(../../images/icons/watch.png);
          }

          .date {
            margin-right: 5px;
          }

          .bar {
            margin-right: 9px;
          }
        }
      }
    }
    .right {
      width: 66%;
    }

    .circle {
      display: flex;
      position: absolute;
      bottom: 37px;
      left: 544px !important;

      img {
        margin-right: 16px;
        width: 11px;
        height: 11px;
      }
    }
  }

  .content-02 {
    height: 560px;
    display: flex;
    flex-direction: column;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      .latest-article {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 180%;
        text-align: center;
        letter-spacing: -0.01em;
        color: #393939;
      }

      .category {
        width: 58%;
        display: flex;
        justify-self: end;
        justify-content: space-between;

        li {
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 180%;
          color: #c7c7c7;
          display: flex;
          align-items: center;
        }

        .chosen {
          font-weight: 600;
          font-size: 1.8rem;
          line-height: 180%;
          color: #282828;
        }
      }

      .buttons {
        justify-self: end;
        display: flex;

        button {
          width: 35px;
          height: 35px;
          background: #dddddd;
          border-radius: 5px;
        }

        .prev {
          margin-right: 10px;
        }

        .next {
          background: #19222c;
        }
      }
    }

    .divider {
      width: 100%;
      height: 3px;
      background: #dddddd;
      border-radius: 4px;

      .inner {
        width: 20%;
        height: 3px;
        background: #ffb800;
        border-radius: 4px;
      }
    }

    .cards {
      flex: 1;
      display: flex;
      justify-content: space-between;
      margin-top: 44px;
    }
  }

  .content-03 {
    width: 100vw;
    height: 681px;
    background: #19222c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .grid {
      width: 1200px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .latest-video {
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 180%;
      text-align: center;
      letter-spacing: -0.01em;
      color: #ffffff;
      margin-bottom: 15px;
    }

    .divider {
      width: 213px;
      height: 3px;
      background: #ffb800;
      border-radius: 4px;
      margin-bottom: 44px;
    }

    .video-box {
      width: 100%;
      height: 52%;
      display: flex;
      justify-content: space-between;

      video {
        width: 45%;
        height: 100%;
        outline: none;
        border: none;
      }

      .list {
        width: 45%;
        height: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

  .content-04 {
    width: 1200px;
    height: 347px;
    display: flex;
    flex-direction: column;

    .head {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .citizen-reporter {
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 180%;
        text-align: center;
        letter-spacing: -0.01em;
        color: #393939;
      }
      .buttons {
        justify-self: end;
        display: flex;

        button {
          width: 35px;
          height: 35px;
          background: #dddddd;
          border-radius: 5px;
        }

        .prev {
          margin-right: 10px;
        }

        .next {
          position: relative;
          background: #19222c;
          img {
            position: relative;
            left: 1px;
          }
        }
      }
      .view {
        display: none;
      }
    }

    .divider {
      width: 100%;
      height: 3px;
      background: #dddddd;
      border-radius: 4px;
      margin-top: 15px;
      margin-bottom: 44px;

      .inner {
        width: 20%;
        height: 3px;
        background: #ffb800;
        border-radius: 4px;
      }
    }

    .reporter-box {
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 69.7%;
      position: relative;
      overflow-x: hidden;
    }
  }

  .content-05 {
    width: 100vw;
    height: 348px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .subscribe-img {
      position: absolute;
      top: 0;
      left: 0;
    }

    .subscribe {
      font-weight: bold;
      font-size: 3.6rem;
      line-height: 131.52%;
      color: #393939;
      z-index: 10;
    }

    .subscribe-ex {
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 131.52%;
      text-align: center;
      color: #393939;
      z-index: 10;
      margin-top: 5px;
      margin-bottom: 30px;
    }

    input {
      width: 408px;
      height: 50px;
      padding: 0 32px;
      border-radius: 30px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #393939;
      box-sizing: border-box;
      z-index: 10;
      font-size: 1.8rem;
      line-height: 120%;
    }

    .send {
      position: relative;
      top: -36px;
      left: 150px;
      z-index: 10;
    }
  }
}

@media (max-width: 1200px) {
  .news {
    .content {
      width: 960px !important;
    }

    .content-01 {
      height: 444px;

      .circle {
        img {
          width: 9px;
          height: 9px;
        }
      }
    }

    .content-02 {
      height: 448px;
    }

    .content-03 {
      width: 100vw !important;
      height: 545px !important;
      .grid {
        width: 960px !important;
      }
    }

    .content-04 {
      height: 300px;

      .reporter-card {
        img {
          top: -20px;
        }
      }
    }

    .content-05 {
      width: 100vw !important;
      height: 300px;

      .subscribe-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 1024px) {
  .news {
    .content {
      width: 730px !important;
    }

    .content-01 {
      height: 333px;

      .txt-box {
        width: 90% !important;
        height: unset !important;
      }

      .circle {
        bottom: 25px;
        left: 450px !important;

        img {
          width: 8px;
          height: 8px;
        }
      }
    }

    .content-02 {
      height: 380px;
    }

    .content-03 {
      width: 100vw !important;
      height: 450px !important;
      .grid {
        width: 730px !important;
      }
    }

    .content-04 {
      height: 300px;

      .reporter-card {
        img {
          top: -20px;
        }
      }
    }

    .content-05 {
      width: 100vw !important;
      height: 300px;

      .subscribe-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .news {
    .content {
      width: 320px !important;
    }

    .Navigation {
      background: none;
    }

    .content-01 {
      width: 100% !important;
      height: calc(100vw * 452 / 632);
      min-height: 311px;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 0;
      flex-direction: column;

      .circle {
        display: none;
      }

      .cover {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100% !important;
        background: linear-gradient(
          180deg,
          rgba(183, 183, 183, 0) -0.96%,
          rgba(0, 0, 0, 0.26) -0.96%,
          rgba(20, 20, 20, 0.91) 100%
        );
        border-radius: 0px 0px 20px 20px;
      }

      .left {
        width: 90%;
        position: absolute;
        bottom: 10%;
        left: 0;

        .txt-02 {
          color: white;
          margin-bottom: 16px !important;
        }
        .txt-03 {
          display: none;
        }
        .post-info {
          span {
            color: white !important;
          }
          .clock {
            width: 11px !important;
            height: 11px !important;
            background-image: url(../../images/icons/clockW.png) !important;
          }
          .watch {
            width: 13px !important;
            height: 13px !important;
            background-image: url(../../images/icons/watchW.png) !important;
          }
        }
      }
      .right {
        width: 100%;
        min-height: 311px;
        border-radius: 0px 0px 20px 20px !important;
      }
    }

    .content-02 {
      margin-top: 70%;
      height: unset;

      .head {
        width: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        .latest-article {
          display: none;
        }
        .buttons {
          display: none;
        }
        .category {
          width: 90% !important;
          padding: 0;
          margin: 0;
        }
      }

      .divider {
        display: none;
      }

      .cards {
        flex-direction: column !important;
        align-items: center;
      }
    }

    .content-03 {
      width: 100vw !important;
      height: unset !important;
      padding: 50px 0;
      .grid {
        width: 350px !important;

        .video-box {
          flex-direction: column;
          height: unset !important;
          video {
            width: 100% !important;
            margin-bottom: 50px;
          }
          .list {
            width: 100% !important;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }

    .content-04 {
      height: auto !important;
      .head {
        margin-bottom: 30px;
        .buttons {
          display: none;
        }
        .view {
          display: block;
          font-weight: 500;
          font-size: 12px;
          line-height: 250%;
          text-align: center;
          letter-spacing: -0.01em;
          color: #ffb800;
        }
      }
      .divider {
        display: none;
      }
      .reporter-box {
        height: 500px !important;
        flex-direction: column;
      }
    }

    .content-05 {
      width: 100vw !important;
      margin-top: 0px !important;
      .send {
        width: 15px !important;
        height: 15px !important;
        top: -23px !important;
        left: 90px !important;
      }
      input {
        width: 233px !important;
        height: 30px !important;
        padding: 0 15px;
      }
    }
  }
}
