.news {
  width: 100vw;
  min-height: calc(100vw * 2700 / 1920);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #f2f2f2;
  color: #393939;
}

.news .Navigation {
  width: 77%;
  padding: 0 11.5%;
  height: 143px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  z-index: 4;
  color: black !important;
  background: white;
}

.news a {
  color: #3e3e3e;
}

.news .content {
  width: 1200px;
  margin-top: 100px;
}

.news .content-01 {
  height: 555px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
  background-color: white;
}

.news .content-01 .cover {
  display: none;
}

.news .content-01 .left {
  width: 34%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .content-01 .left .txt-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 76.5%;
  height: 52.6%;
}

.news .content-01 .left .txt-box .txt-01 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 22px;
  color: #ffb800;
  margin-bottom: 8px;
}

.news .content-01 .left .txt-box .txt-02 {
  font-weight: bold;
  font-size: 3.4rem;
  line-height: 135%;
  margin-bottom: 31px;
}

.news .content-01 .left .txt-box .txt-03 {
  font-size: 1.4rem;
  line-height: 160%;
  color: rgba(57, 57, 57, 0.5);
  margin-bottom: 12px;
}

.news .content-01 .left .txt-box .txt-04 {
  font-size: 1.2rem;
  line-height: 120%;
  color: rgba(57, 57, 57, 0.5);
}

.news .content-01 .left .txt-box .post-info {
  width: 100%;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .content-01 .left .txt-box .post-info .clock {
  width: 13px;
  height: 13px;
  margin-right: 5px;
  background-image: url(../../images/icons/clock.png);
}

.news .content-01 .left .txt-box .post-info .watch {
  width: 15px;
  height: 13px;
  margin-right: 5px;
  background-image: url(../../images/icons/watch.png);
}

.news .content-01 .left .txt-box .post-info .date {
  margin-right: 5px;
}

.news .content-01 .left .txt-box .post-info .bar {
  margin-right: 9px;
}

.news .content-01 .right {
  width: 66%;
}

.news .content-02 {
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .content-02 .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .content-02 .head .latest-article {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 180%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #393939;
}

.news .content-02 .head .category {
  width: 58%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .content-02 .head .category li {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 180%;
  color: #c7c7c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .content-02 .head .category .chosen {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 180%;
  color: #282828;
}

.news .content-02 .head .buttons {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .content-02 .head .buttons button {
  width: 35px;
  height: 35px;
  background: #dddddd;
  border-radius: 5px;
}

.news .content-02 .head .buttons .prev {
  margin-right: 10px;
}

.news .content-02 .head .buttons .next {
  background: #19222c;
}

.news .content-02 .divider {
  width: 100%;
  height: 3px;
  background: #dddddd;
  border-radius: 4px;
}

.news .content-02 .divider .inner {
  width: 20%;
  height: 3px;
  background: #ffb800;
  border-radius: 4px;
}

.news .content-02 .cards {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 44px;
}

.news .content-03 {
  width: 100vw;
  height: 681px;
  background: #19222c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .content-03 .grid {
  width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .content-03 .latest-video {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 180%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #ffffff;
  margin-bottom: 15px;
}

.news .content-03 .divider {
  width: 213px;
  height: 3px;
  background: #ffb800;
  border-radius: 4px;
  margin-bottom: 44px;
}

.news .content-03 .video-box {
  width: 100%;
  height: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .content-03 .video-box video {
  width: 45%;
  height: 100%;
  outline: none;
  border: none;
}

.news .content-03 .video-box .list {
  width: 45%;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.news .content-04 {
  width: 1200px;
  height: 347px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news .content-04 .head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news .content-04 .head .citizen-reporter {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 180%;
  text-align: center;
  letter-spacing: -0.01em;
  color: #393939;
}

.news .content-04 .head .buttons {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .content-04 .head .buttons button {
  width: 35px;
  height: 35px;
  background: #dddddd;
  border-radius: 5px;
}

.news .content-04 .head .buttons .prev {
  margin-right: 10px;
}

.news .content-04 .head .buttons .next {
  background: #19222c;
}

.news .content-04 .head .view {
  display: none;
}

.news .content-04 .divider {
  width: 100%;
  height: 3px;
  background: #dddddd;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 44px;
}

.news .content-04 .divider .inner {
  width: 20%;
  height: 3px;
  background: #ffb800;
  border-radius: 4px;
}

.news .content-04 .reporter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 69.7%;
  position: relative;
  overflow-x: hidden;
}

.news .content-05 {
  width: 100vw;
  height: 348px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .content-05 .subscribe-img {
  position: absolute;
  top: 0;
  left: 0;
}

.news .content-05 .subscribe {
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 131.52%;
  color: #393939;
  z-index: 10;
}

.news .content-05 .subscribe-ex {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 131.52%;
  text-align: center;
  color: #393939;
  z-index: 10;
  margin-top: 5px;
  margin-bottom: 30px;
}

.news .content-05 input {
  width: 408px;
  height: 50px;
  padding: 0 32px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #393939;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 10;
  font-size: 1.8rem;
  line-height: 120%;
}

.news .content-05 .send {
  position: relative;
  top: -36px;
  left: 150px;
  z-index: 10;
}

@media (max-width: 1200px) {
  .news .content {
    width: 960px !important;
  }
  .news .content-01 {
    height: 444px;
  }
  .news .content-02 {
    height: 448px;
  }
  .news .content-03 {
    width: 100vw !important;
    height: 545px !important;
  }
  .news .content-03 .grid {
    width: 960px !important;
  }
  .news .content-04 {
    height: 300px;
  }
  .news .content-04 .reporter-card img {
    top: -20px;
  }
  .news .content-05 {
    width: 100vw !important;
    height: 300px;
  }
  .news .content-05 .subscribe-img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .news .content {
    width: 730px !important;
  }
  .news .content-01 {
    height: 333px;
  }
  .news .content-01 .txt-box {
    width: 90% !important;
    height: unset !important;
  }
  .news .content-02 {
    height: 380px;
  }
  .news .content-03 {
    width: 100vw !important;
    height: 450px !important;
  }
  .news .content-03 .grid {
    width: 730px !important;
  }
  .news .content-04 {
    height: 300px;
  }
  .news .content-04 .reporter-card img {
    top: -20px;
  }
  .news .content-05 {
    width: 100vw !important;
    height: 300px;
  }
  .news .content-05 .subscribe-img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .news .content {
    width: 350px !important;
  }
  .news .Navigation {
    background: none;
  }
  .news .content-01 {
    width: 100% !important;
    height: calc(100vw * 452 / 632);
    min-height: 311px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news .content-01 .cover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100% !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-0.96%, rgba(183, 183, 183, 0)), color-stop(-0.96%, rgba(0, 0, 0, 0.26)), to(rgba(20, 20, 20, 0.91)));
    background: linear-gradient(180deg, rgba(183, 183, 183, 0) -0.96%, rgba(0, 0, 0, 0.26) -0.96%, rgba(20, 20, 20, 0.91) 100%);
    border-radius: 0px 0px 20px 20px;
  }
  .news .content-01 .left {
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 0;
  }
  .news .content-01 .left .txt-02 {
    color: white;
    margin-bottom: 16px !important;
  }
  .news .content-01 .left .txt-03 {
    display: none;
  }
  .news .content-01 .left .post-info span {
    color: white !important;
  }
  .news .content-01 .left .post-info .clock {
    width: 11px !important;
    height: 11px !important;
    background-image: url(../../images/icons/clockW.png) !important;
  }
  .news .content-01 .left .post-info .watch {
    width: 13px !important;
    height: 13px !important;
    background-image: url(../../images/icons/watchW.png) !important;
  }
  .news .content-01 .right {
    width: 100%;
    min-height: 311px;
    border-radius: 0px 0px 20px 20px !important;
  }
  .news .content-02 {
    margin-top: 70%;
    height: unset;
  }
  .news .content-02 .head {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news .content-02 .head .latest-article {
    display: none;
  }
  .news .content-02 .head .buttons {
    display: none;
  }
  .news .content-02 .head .category {
    width: 90% !important;
    padding: 0;
    margin: 0;
  }
  .news .content-02 .divider {
    display: none;
  }
  .news .content-02 .cards {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news .content-03 {
    width: 100vw !important;
    height: unset !important;
    padding: 50px 0;
  }
  .news .content-03 .grid {
    width: 350px !important;
  }
  .news .content-03 .grid .video-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset !important;
  }
  .news .content-03 .grid .video-box video {
    width: 100% !important;
    margin-bottom: 50px;
  }
  .news .content-03 .grid .video-box .list {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news .content-04 {
    height: auto !important;
  }
  .news .content-04 .head {
    margin-bottom: 30px;
  }
  .news .content-04 .head .buttons {
    display: none;
  }
  .news .content-04 .head .view {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 250%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #ffb800;
  }
  .news .content-04 .divider {
    display: none;
  }
  .news .content-04 .reporter-box {
    height: 500px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news .content-05 {
    width: 100vw !important;
    margin-top: 0px !important;
  }
  .news .content-05 .send {
    width: 15px !important;
    height: 15px !important;
    top: -23px !important;
    left: 90px !important;
  }
  .news .content-05 input {
    width: 233px !important;
    height: 30px !important;
    padding: 0 15px;
  }
}
/*# sourceMappingURL=style.css.map */