.history {
  width: 100vw;
  min-height: calc(100vw * 2700 / 1920);
  background-image: url(../../images/background/history_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .content {
    z-index: 2;
    width: 1200px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    z-index: 10;
  }

  .date {
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 25px;
    color: #ffc700;
    margin-bottom: 10px;
  }

  .title {
    font-weight: bold;
    font-size: 4rem;
    line-height: 130%;
    margin-bottom: 10px;
  }

  .description {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 180%;
    color: rgba(255, 255, 255, 0.6);
  }

  .content-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 190px;

    .title {
      font-weight: 800;
      font-size: 6rem;
      line-height: 73px;
    }

    .line {
      width: 167px;
      height: 5px;
      background: #ffc700;
      border-radius: 2.5px;
      margin: 110px 0;
    }

    .description {
      font-weight: normal;
      font-size: 2rem;
      line-height: 38px;
    }
  }

  .content-02 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30%;

    .background-text {
      position: absolute;
      top: -70%;
      left: 0;
      font-weight: bold;
      font-size: 38rem;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.1);
    }

    .left {
      width: 38.5%;
      height: 26.75%;
      margin-bottom: 52px;
      margin-left: 72px;
    }

    .right {
      width: 47.9%;
      height: 385px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .cover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        z-index: 2;
      }

      .play {
        z-index: 3;
      }
    }
  }

  .content-03 {
    min-height: 517px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
    margin-top: 100px;
    .background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    .intro {
      width: 35%;
      margin-right: 62px;
      height: 25%;
    }
  }

  .content-04 {
    height: 588px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;

    .title {
      text-align: center;
      margin-bottom: 40px;
    }

    .container {
      width: 100%;
      height: 65.5%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: relative;

      .slide-con {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      .img {
        width: 573px;
        height: 385px;
        border-radius: 20px;
      }

      .left-container {
        width: 162px;
        height: 385px;
        overflow-x: hidden;
        z-index: 2;
        position: absolute;
        top: 0px;
        left: 0px;

        .left {
          height: 99%;
          z-index: 2;
        }
      }

      .right {
        z-index: 1;
      }

      .slider {
        height: 390px;
        width: 8px;
        border-radius: 5px;
        background: #ffc700;
        z-index: 3;
        position: absolute;
        top: 0;
        left: 162px;

        .slide {
          width: 50px;
          height: 50px;
          position: relative;
          top: 42%;
          left: -260%;
        }
      }

      .description {
        width: 46.25%;
        height: 85%;
      }
    }
  }

  .to-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    img {
      margin-bottom: 12px;
    }

    .ex {
      font-weight: 600;
      font-size: 18px;
      line-height: 132%;
    }
  }
}

@media (max-width: 1200px) {
  .history {
    .content {
      width: 960px;
    }
    .mouse-scroll {
      display: none;
    }

    .content-02 {
      .background-text {
        left: -5%;
        top: -80%;
      }
      .left {
        margin: 0 !important;
      }
      .right {
        height: 310px;
      }
    }

    .content-03 {
      min-height: 400px;
    }

    .content-04 {
      .container {
        .img {
          width: 460px;
          height: 308px;
        }

        .slider {
          height: 308px;
        }

        .description {
          align-self: center;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .history {
    .content {
      width: 730px;
    }

    .content-02 {
      margin-top: 300px;
      .background-text {
        top: -70%;
      }

      .left {
        width: 45%;
      }
      .right {
        height: 245px;
      }
    }

    .content-03 {
      min-height: 300px;
      margin: 150px 0;
      .intro {
        margin-right: 20px;
        width: 50%;
      }
    }

    .content-04 {
      .container {
        .left-container,
        .slider,
        .right {
          margin-top: 20px;
        }

        .img {
          width: 368px;
          height: 242px;
        }

        .slider {
          height: 242px;
        }

        .description {
          align-self: start;
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .history {
    .content {
      width: 340px;
    }

    .content-01 {
      .line {
        margin: 50px 0;
      }
    }

    .content-02 {
      margin-top: 100px;
      flex-direction: column;
      .background-text {
        display: none;
      }
      .intro {
        width: 100%;
        align-items: center;
        .title {
          text-align: center;
          margin: 10px 0;
        }
      }
      .right {
        margin-top: 30px;
        width: 100%;

        .play {
          width: 40px;
          height: 40px;
        }
      }
    }

    .content-03 {
      .background {
        width: 100%;
        min-height: 198px;
        height: 198px;
        top: 100px;
      }
      .intro {
        margin: 0;
        width: 100%;
        align-items: center;

        span {
          text-align: center;
        }

        .title {
          width: 70%;
          margin-bottom: 240px;
          font-size: 3rem;
        }

        .description {
          text-align: left;
        }
      }
    }

    .content-04 {
      flex-direction: column;
      justify-content: unset !important;
      .title {
        font-size: 2.6rem;
        margin: 10px 0 !important;
      }

      .container {
        flex-direction: column;
        justify-content: unset !important;

        .description {
          width: 100% !important;
          margin-top: 20px;
        }

        .img {
          width: 340px !important;
          height: 222px !important;
        }
        .slider {
          height: 222px !important;
        }

        .slide-con {
          width: 100% !important;
          position: relative !important;
        }
      }
    }
  }
}
