.Navigation {
  width: 77%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  z-index: 4;

  .logo {
    width: 115px;
  }

  .navList {
    // width: 694px;
    width: 47%;
    min-width: 450px;
    display: flex;
    justify-content: space-between;

    li {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }
  }

  .icons {
    width: 130px;
    display: flex;
    justify-content: space-between;

    .logging-container {
      position: relative;

      img {
        width: 30px;
        height: 30px;
      }

      .clicked {
        height: 100px !important;
        display: flex !important;
      }

      .log-box {
        display: none;
        width: 100px;
        height: 0;
        position: absolute;
        top: 40px;
        left: -110%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: white;
        border-radius: 10px;
        transition-duration: 1s;

        span {
          font-weight: 700;
          color: black;
        }
      }
    }
  }
}
