.Navigation,
.Navigation-black {
  width: 77%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  z-index: 100;

  .mobile-nav {
    transition-duration: 0.5s;
    position: fixed;
    top: 0;
    display: none;
    flex-direction: column;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.85);
    backdrop-filter: blur(10px);
    width: 78vw;
    height: 100vh;

    .profile {
      width: 100%;
      height: 108px;
      display: flex;
      align-items: center;

      .profile-img {
        margin-left: 32px;
        margin-right: 17px;
      }

      .in {
        color: white;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
      }

      .next {
        margin-left: 30%;
      }
    }

    .search-mobile {
      background: rgba(255, 255, 255, 0.1);
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;

      .search-ico {
        width: 15px;
        height: 15px;
        margin-left: 32px;
        margin-right: 20px;
      }

      input {
        background: transparent;
        height: 100%;
        padding: 0 5px;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: white !important;
      }
    }

    .item {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      padding-left: 32px;

      .icon {
        margin-right: 36px;
      }
      span {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: white;
      }
    }
  }

  .logo {
    width: 115px;
  }

  .navList {
    // width: 694px;
    width: 47%;
    min-width: 450px;
    display: flex;
    justify-content: space-between;

    li {
      font-style: normal;
      font-weight: 500;
      font-size: 2rem;
      line-height: 24px;
    }
  }

  .icons {
    width: 130px;
    display: flex;
    justify-content: space-between;

    .logging-container {
      position: relative;

      img {
        width: 30px;
        height: 30px;
      }

      .clicked {
        height: 100px !important;
        display: flex !important;
      }

      .log-box {
        display: none;
        width: 100px;
        height: 0;
        position: absolute;
        top: 40px;
        left: -110%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: white;
        border-radius: 10px;
        transition-duration: 1s;

        span {
          font-size: 17px;
          font-weight: 700;
          color: black;
        }
      }
    }
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 1200px) {
  .Navigation,
  .Navigation-black {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .Navigation,
  .Navigation-black {
    width: 90%;

    .logo {
      width: 90px;
    }

    .icons {
      width: 100px;
      position: relative;

      img {
        width: 25px !important;
        height: 25px !important;
      }
    }

    .navList {
      min-width: 0;
      padding: 0;
    }
  }
}

@media (max-width: 768px) {
  .Navigation,
  .Navigation-black {
    margin-top: 40px;

    .logo {
      width: 48px !important;
      height: 20px !important;
    }
    .hamburger {
      width: 21px !important;
      height: 17px !important;
    }
    .search {
      display: none;
    }
    .navList {
      display: none;
    }
    .icons {
      display: none;
    }

    .hamburger {
      width: 25px;
      height: 23px;
      display: block;
    }
    .mobile-nav {
      display: flex;
    }
  }
}
