html {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: white;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}
