.carousel {
  width: 1200px;
  display: flex;
  flex-direction: column;

  .name {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 132%;
    margin-bottom: 51px;
  }

  .images {
    width: 74.4%;
    height: 168px;
    position: relative;
    margin-bottom: 70px;

    .img-card {
      width: 168px;
      height: 168px;
      border-radius: 15px;
      transition-duration: 0.5s;
      position: absolute;
      top: 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }

    .cover {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 15px;
      z-index: 5;
      transition-duration: 0.5s;
    }

    .cover-02 {
      opacity: 0;
    }

    .img-01 {
      left: 0px;
      z-index: 4;
    }

    .img-02 {
      width: 228px;
      height: 228px;
      position: relative;
      left: 150px;
      top: -25px;
      box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.5);
      z-index: 6;
    }

    .img-03 {
      left: 362px;
      z-index: 3;
    }

    .img-04 {
      left: 543px;
      z-index: 2;
    }

    .img-05 {
      left: 300px;
      opacity: 0;
      z-index: 1;
    }

    .instruction {
      width: 100%;
      height: 46px;
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0 0 15px 15px;
      transition-duration: 0.5s;
      padding: 14px 0;

      .structure {
        font-weight: 600;
        font-size: 1.8rem;
        margin-left: 21px;
        line-height: 100%;
      }

      .location {
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 132%;
        margin-left: 21px;
      }
    }
  }

  .controller {
    width: 100%;
    display: flex;
    align-items: center;

    span {
      font-weight: 300;
      font-size: 2.5rem;
      line-height: 132%;
    }

    .slider {
      margin-left: 20px;
      margin-right: 20px;
      width: 37.5%;
      height: 5px;
      background: #a5a5a5;
      border-radius: 11px;

      .slider-bar {
        width: 20%;
        height: 5px;
        background-color: #ffc700;
        border-radius: 5px;
        transition-duration: 0.5s;
      }
    }

    .btn {
      width: 4.66%;
    }

    .prev {
      margin-left: 22px;
      margin-right: 24px;
    }
  }

  .mobile-images {
    display: none;
  }
}

@media (max-width: 1024px) {
  .carousel {
    width: 960px;

    .images {
      width: 74.4%;
      height: 135px;
      margin-bottom: 50px;

      .img-card {
        width: 135px;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 15px;
        }
      }
      .img-01 {
        left: 0px;
      }

      .img-02 {
        width: 180px;
        height: 180px;
        left: 125px;
      }

      .img-03 {
        left: 296px;
      }

      .img-04 {
        left: 444px;
      }
    }
  }
}

@media (max-width: 768px) {
  .carousel {
    width: 100%;
    .controller {
      display: none;
    }

    .images {
      display: none;
    }

    .slide-box::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }

    .slide-box {
      width: 100%;
      overflow: scroll;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .mobile-images {
      display: flex;
      .mobile-image-box {
        position: relative;
        width: 85px;
        height: 85px;
        margin-right: 20px;

        .cover:hover {
          opacity: 1;
        }
        .cover {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 85px;
          height: 85px;
          background: rgba(0, 0, 0, 0.75);
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;

          span {
            word-break: break-all;
            width: 90%;
            text-align: center;
            font-weight: 600;
            font-size: 12px;
            line-height: 140%;
          }
        }
        img {
          width: 85px;
          height: 85px;
        }
      }
    }
  }
}
