.carousel {
  display: flex;
  flex-direction: column;

  .name {
    font-weight: 600;
    font-size: 24px;
    line-height: 132%;
    margin-bottom: 51px;
  }

  .images {
    // width: 712px;
    width: 893px;
    height: 168px;
    position: relative;
    margin-bottom: 70px;

    .img-card {
      width: 168px;
      height: 168px;
      border-radius: 15px;
      transition-duration: 0.5s;
      position: absolute;
      top: 0;

      img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }

    .img-01 {
      left: 0px;
      z-index: 4;
    }

    .img-02 {
      left: 181px;
      transform: scale(1.3);
      box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.5);
      z-index: 5;
    }

    .img-03 {
      left: 362px;
      z-index: 3;
    }

    .img-04 {
      left: 543px;
      z-index: 2;
    }

    .img-05 {
      left: 300px;
      opacity: 0;
      z-index: 1;
    }

    .instruction {
      width: 100%;
      height: 70 * 0.77px;
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0 0 15px 15px;
      transition-duration: 0.5s;

      .structure {
        font-weight: 600;
        font-size: 22 * 0.77px;
        margin-left: 10px;
        line-height: 100%;
      }

      .location {
        font-weight: 300;
        font-size: 14 * 0.77px;
        line-height: 132%;
        margin-left: 10px;
      }
    }
  }

  .controller {
    display: flex;
    align-items: center;

    span {
      font-weight: 300;
      font-size: 25px;
      line-height: 132%;
    }

    .slider {
      margin-left: 20px;
      margin-right: 20px;
      width: 450px;
      height: 5px;
      background: #a5a5a5;
      border-radius: 11px;

      .slider-bar {
        width: 180px;
        height: 5px;
        background-color: #ffc700;
        border-radius: 5px;
        transition-duration: 0.5s;
      }
    }

    .btn {
      width: 56px;
      height: 56px;
    }

    .prev {
      margin-left: 22px;
      margin-right: 24px;
    }
  }
}
