.footer {
  width: 100%;
  height: 162px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1b1b1b;

  span {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 180%;
    color: #9c9c9c;
  }

  .about {
    display: flex;
    flex-direction: column;
    margin-left: 11%;
    img {
      width: 115px;
      height: 48px;
      margin-bottom: 10px;
    }
  }

  .icons {
    width: 115px;
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    margin-right: 11%;
  }
}

@media (max-width: 1200px) {
  .Footer {
    .about {
      margin-left: 8% !important;
    }
    .copyright {
      margin-right: 8% !important;
    }
  }
}

@media (max-width: 1024px) {
  .Footer {
    .about {
      display: flex;
      flex-direction: column;
      margin-left: 5% !important;
    }
    .copyright {
      margin-right: 5% !important;
    }
    .icons {
      width: 90px !important;
      img {
        height: 20px;
      }
    }
  }
}
