.member {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 100%;
  color: black;
  background: white;
  border-radius: 15px;

  .back_img {
    height: 206px;
  }

  .text {
    width: 100%;
    height: 196px;
    display: flex;
    flex-direction: column;

    .top {
      width: 100%;
      height: 27%;
      display: flex;
      position: relative;
      justify-content: space-evenly;
      align-items: center;

      .profile {
        width: 83px;
        height: 83px;
        position: relative;
        top: -20px;
      }

      .followers,
      .following {
        display: flex;
        flex-direction: column;
        align-items: center;

        .num {
          font-weight: 600;
          font-size: 1.2rem;
          line-height: 15px;
          color: #393939;
        }

        .txt {
          font-size: 1.2rem;
          line-height: 15px;
          color: #999999;
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      flex: 1;

      button {
        width: 46.4%;
        height: 25%;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 140%;
        background: linear-gradient(
          90deg,
          #ffd951 -23.15%,
          #ff5858 151.85%,
          #ff8056 98.08%
        );
        border-radius: 40px;
        color: white;
        transition-duration: 1s;
      }

      button:hover {
        background: white;
        border: 1px solid #ff8056;
        color: #ff8056;
      }

      .name {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 22px;
        color: #393939;
      }

      .written {
        display: flex;

        span {
          font-size: 1.2rem;
          line-height: 15px;
          color: #999999;
        }

        .posts {
          margin-right: 10px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .member {
    .back_img {
      height: 164px !important;
    }
    .text {
      height: 157px !important;
      .profile {
        width: 70px !important;
        height: 70px !important;
        top: -15px !important;
      }
    }
  }
}

@media (max-width: 960px) {
  .member {
    .back_img {
      height: 124px !important;
    }
    .text {
      height: 117px !important;
      .profile {
        width: 55px !important;
        height: 55px !important;
        top: -10px !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .member {
    width: 42% !important;
    margin-right: 16px;

    .back_img {
      height: 100.3px !important;
    }

    .text {
      .top {
        .num {
          display: none;
        }
        .txt {
          display: none;
        }
      }
      .bottom {
        .photos {
          display: none;
        }
        .name {
          font-weight: 600 !important;
          font-size: 14px !important;
          line-height: 17px !important;
        }
        button {
          width: 55%;
        }
        .written {
          .posts {
            margin: 0 !important;
          }
        }
      }
    }
  }
}
