.community {
  width: 100vw;
  min-height: calc(100vw * 2700 / 1920);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #f2f2f2;
  color: white;

  .Navigation {
    .navList {
      .nav-community {
        font-weight: 700;
        text-decoration: overline;
      }
    }

    .mobile-nav {
      .nav-community {
        color: #ffb800;
      }
      .ico-nav-community {
        display: none;
      }
      .ico2-nav-discover {
        display: none;
      }
      .ico2-nav-news {
        display: none;
      }
      .ico2-nav-history {
        display: none;
      }
      .ico2-nav-home {
        display: none;
      }
    }
  }

  .content {
    width: 1200px;
    margin-bottom: 100px;
  }

  .background-img {
    width: 100%;
    height: 100vh;
    min-height: 927px;
    background-repeat: none;
    background-image: url(../../images/background/community_back.png);
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 0;
  }

  .content-01 {
    position: absolute;
    top: 25%;
    left: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    margin: 0 !important;
    margin-bottom: 200px !important;

    .txt-mobile {
      display: none;
      font-size: 1.8rem;
      line-height: 170%;
    }

    .txt-01 {
      font-weight: 500;
      font-size: 3rem;
      line-height: 160%;
      color: #ffb800;
    }
    .txt-02 {
      width: 509px;
      font-weight: bold;
      font-size: 6.4rem;
      line-height: 130%;
      margin-bottom: 12px;
    }

    .txt-03 {
      width: 486px;
      font-size: 1.8rem;
      line-height: 170%;
    }

    .details {
      margin-top: 149px;
      display: flex;
      justify-content: space-between;
      width: 545px;
      height: 122px;
    }
  }

  .content-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 684px;
    margin-top: 927px;

    .title {
      font-weight: bold;
      font-size: 3.2rem;
      line-height: 160%;
      color: #393939;
    }

    .description {
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 160%;
      text-align: center;
      color: #999999;
      margin-bottom: 45px;
    }

    .tips {
      width: 100%;
      height: 82%;
      display: flex;
      justify-content: space-between;

      .right .left .top .bottom {
        width: 576px;
      }

      .left {
        width: 49%;
        height: 100%;
      }

      .right {
        width: 49%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
          width: 100%;
          height: 48%;
        }

        .bottom {
          width: 100%;
          height: 48%;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .content-03 {
    height: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-weight: bold;
      font-size: 3rem;
      line-height: 160%;
      text-align: center;
      color: #393939;
    }

    .description {
      font-weight: 300;
      font-size: 2rem;
      line-height: 160%;
      text-align: center;
      color: #999999;
      margin-bottom: 45px;
    }
    .members {
      width: 100%;
      height: 76.6%;
      display: flex;
      justify-content: space-between;
    }
  }

  .ad {
    width: 1200px;
    height: 176px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;

    .txt-01 {
      font-weight: bold;
      font-size: 3.5rem;
      line-height: 32px;
      z-index: 10;
      margin-bottom: 10px;
      margin-left: 76px;
    }
    .txt-02 {
      font-size: 2rem;
      line-height: 180%;
      z-index: 10;
      margin-left: 76px;
    }
    .back {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .phone-01,
    .phone-02 {
      width: 11.14%;
      position: absolute;
      z-index: 2;
    }

    .phone-01 {
      left: 67.6%;
      bottom: 0;
    }
    .phone-02 {
      left: 79%;
      bottom: 0;
    }
  }

  .content-04 {
    height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #393939;

    .title {
      font-weight: bold;
      font-size: 3.2rem;
      line-height: 160%;
      text-align: center;
    }

    .description {
      font-weight: 300;
      font-size: 1.8rem;
      line-height: 160%;
      text-align: center;
      color: #999999;
      margin-bottom: 45px;
    }

    .posts {
      width: 100%;
      height: 83.15%;
      display: flex;
      justify-content: space-between;

      .left {
        width: 60.5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 15px;

        .top {
          height: 54.6%;
        }

        .bottom {
          width: 85.4%;
          padding: 0 7.3%;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          .txt-01 {
            width: 85%;
            font-weight: 600;
            font-size: 3rem;
            line-height: 140%;
            color: #000000;
          }

          .txt-02 {
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: #999999;
          }

          .about {
            display: flex;
            align-items: center;
            font-weight: 300;
            font-size: 1.8rem;
            line-height: 22px;
            color: #999999;

            .name {
              margin-left: 13px;
            }

            .dot {
              margin: 0 10px;
            }
          }
        }
      }

      .right {
        width: 29%;
        height: 100%;
        padding: 0 39px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background: white;

        .buttons {
          height: 7.4%;
          display: flex;
          justify-content: space-between;
          margin-top: 10px;

          button {
            width: 47.4%;
            height: 100%;
            border-radius: 40px;
          }

          .btn-popular {
            background: linear-gradient(
              90deg,
              #ffd951 -23.15%,
              #ff8056 98.08%,
              #ff5858 151.85%
            );
            border-radius: 40px;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 140%;
            color: #ffffff;
            transition-duration: 1s;
          }

          .btn-recent {
            border: 1.3px solid #999999;
            box-sizing: border-box;
            border-radius: 40px;
            font-size: 1.6rem;
            line-height: 140%;
            color: #999999;
            background: white;
            transition-duration: 1s;
          }

          .btn-popular:hover {
            background: white;
            border: 1px solid #ff8056;
            color: #ff8056;
          }

          .btn-recent:hover {
            background: #999999;
            color: white;
          }
        }

        .post {
          height: 80%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      .post {
        width: 100%;
        height: 80.9%;
      }
    }
  }
}

@media (max-width: 1600px) {
  .community {
    .content-01 {
      width: 1200px !important;
    }
  }
}

@media (max-width: 1200px) {
  .community {
    .content,
    .ad {
      width: 960px !important;
    }

    .ad {
      height: 140px !important;
    }

    .content-01 {
      .details {
        margin-top: 150px !important;
        width: 436px !important;
        height: 97.5px !important;
      }
    }

    .content-02 {
      height: 547.2px !important;
    }

    .content-03 {
      height: 420px !important;
    }

    .content-04 {
      height: 584px !important;
      .description {
        margin-bottom: 30px !important;
      }
    }
  }
}

@media (max-width: 960px) {
  .community {
    .background-img {
      min-height: 800px !important;
    }
    .content,
    .ad {
      width: 730px !important;
      //960 -> 730
    }

    .ad {
      height: 120px !important;
    }

    .content-01 {
      .details {
        margin-top: 100px !important;
        width: 436px !important;
        height: 97.5px !important;
      }
    }

    .content-02 {
      margin-top: 800px;
      height: 410.3px !important;

      .description {
        margin-bottom: 25px !important;
      }
    }

    .content-03 {
      height: 315px !important;
    }

    .content-04 {
      height: 438px !important;
      .description {
        margin-bottom: 20px !important;
      }

      .posts {
        .right {
          padding: 0 15px !important;
        }

        .left {
          .bottom {
            .txt-01 {
              font-size: 2.7rem !important;
              width: 100% !important;
            }
            .about {
              img[alt="profile"] {
                width: 25px !important;
                height: 25px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .community {
    .background-img {
      background-size: cover;
      background-position: 35%;
      height: 421px !important;
      min-height: 421px !important;
    }

    .content,
    .ad {
      width: 320px !important;
    }

    .ad {
      height: 56px !important;

      .txt-01 {
        margin: 6% !important;
        font-size: 2rem !important;
      }

      .txt-02 {
        display: none;
      }

      .phone-01 {
        left: 72% !important;
      }
      .phone-02 {
        left: 84% !important;
      }
    }

    .content-01 {
      width: 320px !important;
      height: unset !important;
      position: absolute;
      top: unset !important;
      bottom: 26px !important;
      left: 5.5%;
      margin-bottom: unset !important;
      span {
        width: 100% !important;
      }

      .txt-mobile {
        display: block;
      }
      .txt-01 {
        font-size: 2.4rem;
      }
      .txt-02 {
        font-size: 30px;
      }
      .txt-03 {
        display: none !important;
      }
      .details {
        width: 90% !important;
        height: unset !important;
        margin-top: 50px !important;
      }
    }

    .content-02 {
      height: 780px !important;
      // margin-top: calc(50vh + 70px);
      margin-top: 400px;
      margin-bottom: 0px;
      .tips {
        flex-direction: column;

        .left {
          width: 100% !important;
          margin-bottom: 16px !important;
        }
        .right {
          width: 100% !important;
        }
      }
    }

    .content-03 {
      height: fit-content !important;
      margin-bottom: 0;

      .description {
        margin-bottom: 20px;
      }
      .members {
        height: fit-content;
        overflow-x: scroll;
      }
      .members {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
      .members::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
      }
    }

    .ad {
      margin: 60px !important;
    }
    .content-04 {
      height: unset !important;

      .title {
        margin: 0 !important;
      }

      .description {
        margin-bottom: 30px !important;
      }

      .posts {
        flex-direction: column;
        .left {
          width: 100% !important;
          height: 276px !important;
          margin-bottom: 16px;
          .bottom {
            .txt-01 {
              font-size: 2rem !important;
            }
            .txt-02 {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2; /* number of lines to show */
              -webkit-box-orient: vertical;
            }

            .about {
              span {
                font-size: 1.5rem;
              }
            }
          }
        }
        .right {
          width: 100% !important;
          height: 456px !important;
          padding: 0 !important;
          align-items: center;

          .buttons {
            width: 80% !important;
            justify-content: space-between !important;
            margin-top: 20px !important;
            button {
              width: 45% !important;
            }
          }
          .post {
            align-items: center;
          }
        }
      }
    }
  }
}
